:root {
    --white: #fefefe;
    --slate: #161A1D;
    --sanguine: #660708;
    --dark-red: #A4161A;
    --red: #BA181B;
    --strawberry: #E5383B;

}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,400&display=swap');


@media only screen and (max-width: 780px) {
    #header {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100vw;
    }

    #header>div {
        flex: none;
        width: 100vw;
        justify-content: center;

    }


    #links {
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
    }

    #links>a {
        flex: none;
        /* width: 100vw; */
    }

    #logo {
        height: 15vh;

        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #logo>img {
        height: 15vh;
        width: auto;
    }


    #team {
        width: 80vw;
        display: grid;
        padding-left: 60px;
        padding-right: 60px;
        grid-template-columns: auto;
        column-gap: 10vw;
    }

    .team-member {
        position: relative;
        top: -15vh;
        left: 180px;
        height: 20vh;
        width: 60vw;
        background-color: white;
        border-radius: 5px;
        border: 2px solid var(--dark-red);
    }

    #content {
        display: grid;
        grid-template-columns: auto;
    }
}



@media only screen and (min-width: 780px) {
    #header {
        display: flex;
        flex-direction: row;
    }

    #header>div {
        flex: 1;
    }

    #links {
        font-size: larger;
        position: relative;
        width: 100px;
        color: var(--sanguine);
        top: 60px;
        font-weight: bolder;
        left: 300px;
        display: flex;
        flex-direction: row;
        justify-content: safe;
    }

    #links>a {
        padding: 0 4vw;
    }

    #team {
        width: 80vw;
        display: grid;
        padding-left: 60px;
        padding-right: 60px;
        grid-template-columns: auto auto;
        column-gap: 10vw;
    }

    .team-member {
        position: relative;
        top: -15vh;
        left: 180px;
        height: 20vh;
        width: 30vw;
        background-color: white;
        border-radius: 5px;
        border: 2px solid var(--dark-red);
    }

    #content {
        grid-template-columns: auto 80vw;
        column-gap: 0;
    }

    #logo>img {
        height: auto;
        width: 15vw;
        position: relative;
        top: -3vh;
        left: 8vh;
    }
}



/* Default styling */
#links {
    font-size: large;
    position: relative;
    color: var(--sanguine);
    font-weight: bolder;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#content {
    display: grid;
    width: 89vw;
    column-gap: 2vw;
    padding: 4vmin;
    background-color: var(--white);
    border-radius: 10px;
}


#backing {
    /* background-color: #af6469; */
    background-color: #f3f3f3;
    background: rgb(254, 254, 254);
    background: linear-gradient(180deg,
            rgba(254, 254, 254, 1) 0%,
            #f3f3f3 5%,
            #f3f3f3 95%,
            rgba(254, 254, 254, 1) 100%);
    padding: 3vw;
    width: 100vw;
}


#our-team {
    padding: 10px 60px;
}



#masthead>img {
    z-index: -1;
    position: relative;
    top: 10vh;
    left: 5vh;
    margin: 0;
    border-radius: 10px;
    object-fit: cover;
    width: 95%;
    height: 92vh;
}

/* #problem,
#our-device {
    padding-left: 60px;
    display: grid;
    grid-template-columns: auto 80vw;
    
    height: 100vh;
    background-color: #660708;
    color: var(--white);
    border: 60px solid var(--white);
}


#problem>h1,
#our-team>h1,
#our-device>h1,
.content>h1 {
    text-align: center;
    font-size: 48px;
    border-radius: 10px;
} */


.member {
    width: 20vw;
}

#logo>a>img {
    /* z-index: 1; */
    position: absolute;
    top: -3vh;
    left: 5vw;
    height: auto;
    max-width: 300px;
}



#links>a {
    color: var(--sanguine);
}

#tagline {
    position: absolute;
    top: 75vh;
    left: 8vw;
    width: 50vw;
    font-size: 4vh;
    color: white;
}

#masthead {

    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

.card {
    background-color: white;
    position: relative;
    z-index: 2;
}

.member>img {
    z-index: 3;
    position: relative;
}

/* .team-member {
    position: relative;
    top: -15vh;
    left: 180px;
    height: 20vh;
    width: 30vw;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--dark-red);
} */

#brainstorming {
    margin-top: 15vh;
    text-align: center;
    padding-bottom: 10vh;
}

#proposal {
    position: relative;
    left: 20vw;
    width: 80vh;
    border-radius: 10px;
    border: none;
    padding-bottom: 10vh;
}

.carousel-item {
    /* height: 20vh; */
    width: 40vw !important;
}

.carousel-item>p {
    position: relative;
    /* top: -4vh; */
    color: #A4161A;
    text-align: center;
    font-weight: 500;
}

.carousel-item>img {
    border-radius: 10px;
    max-height: 38vh;
    width: auto;
    height: auto;
}

.carousel {
    /* position: absolute; */
    left: 25vw;
    height: 40vh;

    overflow-y: hidden;

}

iframe {
    position: relative;
    /* top: 10vh; */
}

#po {}

#misc {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    align-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

#ilrs>a {
    color: var(--sanguine);
    text-decoration: underline;

}